 @import url("reset.css");

body {
  padding: 8px;
  background-color: #313174;
}
.tile {
  display: inline-block;
}
.tile input[type="text"] {
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 32px;
}
.template {
  display: none;
}
.grid {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}
.modal-dialog {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.modal-title {
  font-size: 24px;
  text-align: center;
}
.modal-body label {
  display: block;
}
.gridButtons button.btn {
  width: 142px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.mainSection {
  text-align: center;
}
.gridButtons{
  display: inline-block;
}