 @import url("reset.css");
.tile {
  display: inline-block;
}
.tile input[type="text"] {
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 32px;
}
.template {
  display: none;
}
.grid {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}
