 @import url("reset.css");

body {
  padding: 8px;
  background-color: #313174;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
}
h2, .popover-title {
  font-size: 150%;
}
.popover-title {
  padding: 15px;
  text-align: center;
}
.tile, .specialTile {
  display: inline-block;
  color: #000;
}
.specialTile {
  background-color: #fff;
  border: 1px solid #AAA;
  vertical-align: middle;
}
.specialTile p {
  margin-top: 11px;
  color: #fff;
}
.specialTile:hover {
  cursor: pointer;
}
.tile input[type="text"], .specialTile{
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 200%;
}
.template, .template.tileWeightBox, .hidden {
  display: none;
}
.grids {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}
.grid, .specialGrid {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
}
.modal-dialog {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #000;
}
.modal-title {
  font-size: 150%;
  text-align: center;
}
.modal-body {
  text-align: left;
}
.modal-body select {
  margin-bottom: 2px;
  margin-top: 5px;
  margin-right: 8px;
}
.modal-body label {
  display: block;
  margin-bottom: 2px;
}
.modal-body > label:nth-child(4) {
  margin-top: 10px;
  margin-bottom: 5px;
}
.gridButtons button.btn {
  width: 150px;
  margin-left: 2px;
  margin-right: 2px;
}
.mainSection h1 {
  font-size: 175%;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  display: inline;
}
.mainSection {
  text-align: center;
}
.submit-btn-wrapper {
  margin-top: 4px;
  margin-bottom: 4px;
}
.gridButtons, .submit-btn-wrapper {
  display: inline-block;
}
.gridButtons {
  margin-top: 35px;
}
.results {
  color: #fff;
  margin-top: 20px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.result {
  font-size: 120%;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.result:hover {
  cursor: pointer;
}
ul {
  -webkit-column-width: 150px; /* Chrome, Safari, Opera */
  -moz-column-width: 150px; /* Firefox */
  column-width: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
h2.numResults {
  margin-bottom: 10px;
}
label.tileWeightBox, .tileWeightContainer, .tileWeightBox p{
  display: inline-block;
}
.blank {
  background-color: #fff;
}
.dl {
  background-color: #0482C6;
}
.tl {
  background-color: #62A351;
}
.dw {
  background-color: #AA4236;
}
.tw {
  background-color: #D8821F;
}
.grids label {
  font-size: 125%;
  margin-bottom: 10px;
}
.apple-icon, .android-icon, .help-icon {
  width: 30px;
  height: 30px;
}
.help-icon:hover {
  cursor: pointer;
}
.download {
  text-align: right;
  margin-bottom: 20px;
}
.download p {
  display: inline-block;
  vertical-align: top;
  font-size: 110%;
  padding-top: 8px;
}
.tileWeightBox p {
  margin-right: 3px;
}
.result.active {
  background-color: black;
}
.svg {
  position: absolute;
}
.popover {
  color: #000;
  max-width: 350px;
}
.popover-content {
  padding: 15px;
}
.popover-content p {
  text-align: left;
  text-indent: 2em;
}
strong {
  font-size: 125%;
  font-weight: bold;
}
.repoLink {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.repoLink a {
  text-decoration: none;
}